<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
	<dict>
		<key>LithiumMessageTracer</key>
		<dict>
			<key>LastReportedDate</key>
			<date>2017-11-08T18:31:53Z</date>
		</dict>
		<key>Photos</key>
		<dict>
			<key>CollapsedSidebarSectionIdentifiers</key>
			<array/>
			<key>ExpandedSidebarItemIdentifiers</key>
			<array>
				<string>MediaTypesSmartAlbums</string>
				<string>TopLevelSlideshows</string>
				<string>TopLevelAlbums</string>
			</array>
			<key>IPXWorkspaceControllerPhotosHasContentKey</key>
			<true/>
			<key>IPXWorkspaceControllerZoomLevelsKey</key>
			<dict>
				<key>kZoomLevelIdentifierAlbums</key>
				<integer>7</integer>
				<key>kZoomLevelIdentifierFavoriteMemories</key>
				<integer>4</integer>
				<key>kZoomLevelIdentifierVersions</key>
				<integer>10</integer>
			</dict>
			<key>PXMemoriesHasConfirmedOnboardingDefaultsKey</key>
			<true/>
			<key>lastKnownItemCounts</key>
			<dict>
				<key>other</key>
				<integer>0</integer>
				<key>photos</key>
				<integer>235</integer>
				<key>videos</key>
				<integer>94</integer>
			</dict>
		</dict>
	</dict>
</plist>
